@model IEnumerable<BOL.LISTING.WorkingHours>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerGuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MondayFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MondayTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TuesdayFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TuesdayTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WednesdayFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WednesdayTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThursdayFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThursdayTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FridayFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FridayTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaturdayHoliday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaturdayFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaturdayTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SundayHoliday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SundayFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SundayTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ListingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerGuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MondayFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MondayTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TuesdayFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TuesdayTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WednesdayFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WednesdayTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThursdayFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThursdayTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FridayFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FridayTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaturdayHoliday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaturdayFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaturdayTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SundayHoliday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SundayFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SundayTo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkingHoursID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkingHoursID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkingHoursID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
