@model BOL.LISTING.Categories

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "Subscriptions";
    ViewData["BC-2"] = "Listings";
    ViewData["BC-3"] = ViewData["Title"];
    ViewData["BT-Text"] = "Add New Listing";
    ViewData["BT-Link"] = "/Subscriptions/Listings/Create";
    ViewData["BT-Text2"] = "Manage Listings";
    ViewData["BT-Link2"] = "/Subscriptions/Listings/Index";
}
<!-- End: -->

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Categories</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListingID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListingID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerGuid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnerGuid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IPAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstCategoryID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstCategoryID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SecondCategoryID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SecondCategoryID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdCategories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThirdCategories)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FourthCategories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FourthCategories)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FifthCategories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FifthCategories)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SixthCategories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SixthCategories)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
