@model IEnumerable<BOL.LISTING.Categories>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "Subscriptions";
    ViewData["BC-2"] = "Listings";
    ViewData["BC-3"] = ViewData["Title"];
    ViewData["BT-Text"] = "Add New Listing";
    ViewData["BT-Link"] = "/Subscriptions/Listings/Create";
    ViewData["BT-Text2"] = "Manage Listings";
    ViewData["BT-Link2"] = "/Subscriptions/Listings/Index";
}
<!-- End: -->

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerGuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstCategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondCategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThirdCategories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FourthCategories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FifthCategories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SixthCategories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ListingID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerGuid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IPAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstCategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondCategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThirdCategories)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FourthCategories)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FifthCategories)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SixthCategories)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoryID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
