@model BOL.LISTING.Address

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListingID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListingID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerGuid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerGuid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IPAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssemblyID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssemblyID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PincodeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PincodeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalityID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalityID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AddressID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
