@model IEnumerable<BOL.LISTING.Address>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerGuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssemblyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PincodeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalityID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ListingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerGuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssemblyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PincodeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AddressID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AddressID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AddressID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
