@model BOL.LISTING.Specialisation

@{
    ViewData["Title"] = "Add Specialisation";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "Subscriptions";
    ViewData["BC-2"] = "Listings";
    ViewData["BC-3"] = ViewData["Title"];
    ViewData["BT-Text"] = "Add New Listing";
    ViewData["BT-Link"] = "/Subscriptions/Listings/Create";
    ViewData["BT-Text2"] = "Manage Listings";
    ViewData["BT-Link2"] = "/Subscriptions/Listings/Index";
}
<!-- End: -->

<script>
    function toggle(source) {
        checkboxes = document.getElementsByClassName('specialisation');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>

<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-2" style="padding-left:0px; margin-left:0px;">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Company
                    <span class="badge badge-success badge-pill">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Communication
                    <span class="badge badge-success badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Address
                    <span class="badge badge-success badge-pill">3</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Categories
                    <span class="badge badge-success badge-pill">4</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center active">
                    Specialisation
                    <span class="badge badge-light badge-pill">5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Working Hours
                    <span class="badge badge-secondary badge-pill">6</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Payment Details
                    <span class="badge badge-secondary badge-pill">7</span>
                </li>
@*                 <li class="list-group-item d-flex justify-content-between align-items-center">
                    Images
                    <span class="badge badge-secondary badge-pill">8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Add Social Link
                    <span class="badge badge-secondary badge-pill">9</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    SEO Keyword
                    <span class="badge badge-secondary badge-pill">10</span>
                </li> *@
                @*<li class="list-group-item d-flex justify-content-between align-items-center">
            Neighborhood
            <span class="badge badge-secondary badge-pill">8</span>
        </li>*@
            </ul>
        </div>

        <div class="col-lg-10">
            <form asp-action="Create" class="parsley-style-1" id="selectForm2" name="selectForm2">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>@ViewData["Title"]</h3>
                        <hr />
                        <span style="font-size:14px; font-weight:bold;"><input type="checkbox" onClick="toggle(this)" /> Select All</span>
                        <br /><br />
                        <div class="row">
                            <div class="col-md-3">
                                <!-- Begin: Hidden -->
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="ListingID" value="@ViewBag.ListingID" />
                                <input type="hidden" asp-for="OwnerGuid" value="none" />
                                <input type="hidden" asp-for="IPAddress" value="none" />
                                <span asp-validation-for="ListingID" class="text-danger"></span>
                                <span asp-validation-for="OwnerGuid" class="text-danger"></span>
                                <span asp-validation-for="IPAddress" class="text-danger"></span>
                                <!-- End:-->
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Banks" /> @Html.DisplayNameFor(model => model.Banks)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="AcceptTenderWork" /> @Html.DisplayNameFor(model => model.AcceptTenderWork)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="BeautyParlors" /> @Html.DisplayNameFor(model => model.BeautyParlors)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Bungalow" /> @Html.DisplayNameFor(model => model.Bungalow)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="CallCenter" /> @Html.DisplayNameFor(model => model.CallCenter)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Church" /> @Html.DisplayNameFor(model => model.Church)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Company" /> @Html.DisplayNameFor(model => model.Company)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="ComputerInstitute" /> @Html.DisplayNameFor(model => model.ComputerInstitute)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Dispensary" /> @Html.DisplayNameFor(model => model.Dispensary)
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="ExhibitionStall" /> @Html.DisplayNameFor(model => model.ExhibitionStall)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Factory" /> @Html.DisplayNameFor(model => model.Factory)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Farmhouse" /> @Html.DisplayNameFor(model => model.Farmhouse)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Gurudwara" /> @Html.DisplayNameFor(model => model.Gurudwara)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Gym" /> @Html.DisplayNameFor(model => model.Gym)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="HealthClub" /> @Html.DisplayNameFor(model => model.HealthClub)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Home" /> @Html.DisplayNameFor(model => model.Home)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Hospital" /> @Html.DisplayNameFor(model => model.Hospital)
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Hotel" /> @Html.DisplayNameFor(model => model.Hotel)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Laboratory" /> @Html.DisplayNameFor(model => model.Laboratory)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Mandir" /> @Html.DisplayNameFor(model => model.Mandir)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Mosque" /> @Html.DisplayNameFor(model => model.Mosque)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Office" /> @Html.DisplayNameFor(model => model.Office)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Plazas" /> @Html.DisplayNameFor(model => model.Plazas)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="ResidentialSociety" /> @Html.DisplayNameFor(model => model.ResidentialSociety)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Resorts" /> @Html.DisplayNameFor(model => model.Resorts)
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Restaurants" /> @Html.DisplayNameFor(model => model.Restaurants)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Salons" /> @Html.DisplayNameFor(model => model.Salons)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Shop" /> @Html.DisplayNameFor(model => model.Shop)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="ShoppingMall" /> @Html.DisplayNameFor(model => model.ShoppingMall)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Showroom" /> @Html.DisplayNameFor(model => model.Showroom)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input specialisation" asp-for="Warehouse" /> @Html.DisplayNameFor(model => model.Warehouse)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <input type="submit" value="Save & Continue" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
