@model BOL.LISTING.Specialisation

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<h1>Edit</h1>

<h4>Specialisation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SpecialisationID" />
            <div class="form-group">
                <label asp-for="ListingID" class="control-label"></label>
                <input asp-for="ListingID" class="form-control" />
                <span asp-validation-for="ListingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerGuid" class="control-label"></label>
                <input asp-for="OwnerGuid" class="form-control" />
                <span asp-validation-for="OwnerGuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IPAddress" class="control-label"></label>
                <input asp-for="IPAddress" class="form-control" />
                <span asp-validation-for="IPAddress" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Banks" /> @Html.DisplayNameFor(model => model.Banks)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BeautyParlors" /> @Html.DisplayNameFor(model => model.BeautyParlors)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Bungalow" /> @Html.DisplayNameFor(model => model.Bungalow)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CallCenter" /> @Html.DisplayNameFor(model => model.CallCenter)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Church" /> @Html.DisplayNameFor(model => model.Church)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Company" /> @Html.DisplayNameFor(model => model.Company)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ComputerInstitute" /> @Html.DisplayNameFor(model => model.ComputerInstitute)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Dispensary" /> @Html.DisplayNameFor(model => model.Dispensary)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ExhibitionStall" /> @Html.DisplayNameFor(model => model.ExhibitionStall)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Factory" /> @Html.DisplayNameFor(model => model.Factory)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Farmhouse" /> @Html.DisplayNameFor(model => model.Farmhouse)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Gurudwara" /> @Html.DisplayNameFor(model => model.Gurudwara)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Gym" /> @Html.DisplayNameFor(model => model.Gym)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HealthClub" /> @Html.DisplayNameFor(model => model.HealthClub)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Home" /> @Html.DisplayNameFor(model => model.Home)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Hospital" /> @Html.DisplayNameFor(model => model.Hospital)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Hotel" /> @Html.DisplayNameFor(model => model.Hotel)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Laboratory" /> @Html.DisplayNameFor(model => model.Laboratory)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Mandir" /> @Html.DisplayNameFor(model => model.Mandir)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Mosque" /> @Html.DisplayNameFor(model => model.Mosque)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Office" /> @Html.DisplayNameFor(model => model.Office)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Plazas" /> @Html.DisplayNameFor(model => model.Plazas)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ResidentialSociety" /> @Html.DisplayNameFor(model => model.ResidentialSociety)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Resorts" /> @Html.DisplayNameFor(model => model.Resorts)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Restaurants" /> @Html.DisplayNameFor(model => model.Restaurants)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Salons" /> @Html.DisplayNameFor(model => model.Salons)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Shop" /> @Html.DisplayNameFor(model => model.Shop)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ShoppingMall" /> @Html.DisplayNameFor(model => model.ShoppingMall)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Showroom" /> @Html.DisplayNameFor(model => model.Showroom)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Warehouse" /> @Html.DisplayNameFor(model => model.Warehouse)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

