@model IEnumerable<BOL.LISTING.Specialisation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerGuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeautyParlors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bungalow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CallCenter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Church)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComputerInstitute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dispensary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExhibitionStall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Farmhouse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gurudwara)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gym)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HealthClub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Home)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hospital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laboratory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mandir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mosque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plazas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResidentialSociety)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resorts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingMall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Showroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ListingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerGuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Banks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeautyParlors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bungalow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CallCenter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Church)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComputerInstitute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dispensary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExhibitionStall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Factory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Farmhouse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gurudwara)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gym)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthClub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Home)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Laboratory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mandir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mosque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Office)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plazas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResidentialSociety)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resorts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salons)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShoppingMall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Showroom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SpecialisationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SpecialisationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SpecialisationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
