@model BOL.LISTING.Certification

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<h1>Edit</h1>

<h4>Certification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CertificationID" />
            <div class="form-group">
                <label asp-for="ListingID" class="control-label"></label>
                <input asp-for="ListingID" class="form-control" />
                <span asp-validation-for="ListingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerGuid" class="control-label"></label>
                <input asp-for="OwnerGuid" class="form-control" />
                <span asp-validation-for="OwnerGuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IPAddress" class="control-label"></label>
                <input asp-for="IPAddress" class="form-control" />
                <span asp-validation-for="IPAddress" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GST" /> @Html.DisplayNameFor(model => model.GST)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ISOCertified" /> @Html.DisplayNameFor(model => model.ISOCertified)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CompanyPanCard" /> @Html.DisplayNameFor(model => model.CompanyPanCard)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ROCCertification" /> @Html.DisplayNameFor(model => model.ROCCertification)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GomastaLicense" /> @Html.DisplayNameFor(model => model.GomastaLicense)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AcceptTenderWork" /> @Html.DisplayNameFor(model => model.AcceptTenderWork)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

