@model BOL.PLAN.Subscription

@{
    ViewData["Title"] = "REACH MORE BUYERS & SELL FASTER";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}


<!-- Begin: Refence External Scripts -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- End: Refence External Scripts -->

<script>
    $(document).ready(function () {
        $("#showUpdatedPrice").hide();
        $("input[name=ProductID]:radio").change(function () {
            var price = $("input[name=ProductID]:checked").data('price');
            var period = $("input[name=PeriodID]:checked").data('period');
            if (period == 24) {
                $("#showUpdatedPrice").html("Rs." + price * period + " / " + period + " + 12 months free");
            }
            else {
                $("#showUpdatedPrice").html("Rs." + price * period + " / " + period + " months");
            }

            $("#showUpdatedPrice").show();
        });

        $("input[name=PeriodID]:radio").change(function () {
            var price = $("input[name=ProductID]:checked").data('price');
            var period = $("input[name=PeriodID]:checked").data('period');
            if (period == 24) {
                $("#showUpdatedPrice").html("Rs." + price * period + " / " + period + " + 12 months free");
            }
            else {
                $("#showUpdatedPrice").html("Rs." + price * period + " / " + period + " months");
            }

            if ($("input[name=ProductID]:checked") = true) {
                $("#showUpdatedPrice").show();
            }
        });

        $("#paymentMethod").change(function () {

            var method = $("#paymentMethod").val();

            if (method == "Online") {
                $("#confirmButton").html("Pay Online");
            }
            else {
                $("#confirmButton").html("Proceed");
            }
        });
    });
</script>


<div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-6 col-sm-12" style="border:1px solid #d7d7d7; padding:30px;">
        <div style="text-align:center;">
            <img src="~/img/001-system-update.png" style="margin-bottom:20px;" />
            <h3>@ViewData["Title"]</h3>
            <p>Upgrade your listing to a top position</p>
            <p style="background-color:#ffffd8; border:1px solid #ffd800; padding:8px; margin-left:-30px; margin-right:-30px;">
                SUBSCRIBE FOR 2 YEARS AND GET 3rd YEAR FREE
            </p>
        </div>
        <form asp-action="Create">
            <!-- Begin: Hidden fields -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ListingID" value="@ViewBag.ListingID" />
            <input type="hidden" asp-for="OwnerGuid" value="none" />
            <input type="hidden" asp-for="IPAddress" value="none" />
            <input type="hidden" asp-for="StartDate" value="@DateTime.Now" />
            <input type="hidden" asp-for="StartTime" value="@DateTime.Now" />
            <input type="hidden" asp-for="ModifyDate" value="@DateTime.Now" />
            <input type="hidden" asp-for="PaymentStatus" value="Pending" />
            <input type="hidden" asp-for="RazorpayOrderID" value="None" />
            <input type="hidden" asp-for="RazorpayPaymentID" value="None" />
            <input type="hidden" asp-for="RazorpaySignature" value="None" />
            <input type="hidden" asp-for="OrderStatus" value="Payment Pending" />
            <input type="hidden" asp-for="CouponCode" value="None" />
            <input type="hidden" asp-for="OrderAmount" value="None" />
            <span asp-validation-for="ListingID" class="text-danger"></span>
            <span asp-validation-for="OwnerGuid" class="text-danger"></span>
            <span asp-validation-for="IPAddress" class="text-danger"></span>
            <span asp-validation-for="StartDate" class="text-danger"></span>
            <span asp-validation-for="StartTime" class="text-danger"></span>
            <span asp-validation-for="ModifyDate" class="text-danger"></span>
            <span asp-validation-for="PaymentStatus" class="text-danger"></span>
            <span asp-validation-for="RazorpayOrderID" class="text-danger"></span>
            <span asp-validation-for="RazorpayPaymentID" class="text-danger"></span>
            <span asp-validation-for="RazorpaySignature" class="text-danger"></span>
            <span asp-validation-for="OrderStatus" class="text-danger"></span>
            <span asp-validation-for="CouponCode" class="text-danger"></span>
            <span asp-validation-for="OrderAmount" class="text-danger"></span>
            <!-- End: -->

            <div class="form-group">
                @foreach (var item in ViewBag.ProductID)
                {
                    <div style="padding:30px; border:1px solid #d7d7d7; margin-bottom:10px;">
                        <label class="rdiobox">
                            <input name="ProductID" type="radio" value="@item.ProductID" data-price="@item.PlanAmount" required> <span style="margin-left:10px; font-size:16px; font-weight:bold;">@item.ProductName</span>
                        </label>
                        <span style="margin-left:40px; color:#018a26;"><i class="fa fa-check text-success" aria-hidden="true" style="margin-right:7px; font-size:13px;"></i> @item.Description</span>
                    </div>
                }
            </div>
            <div style="background-color:#0052c4; padding:8px; margin-left:-30px; margin-right:-30px; margin-bottom:20px; height:75px; color:#ffffff; display: flex; justify-content: center; align-items: center;">
                <span style="font-size:16px; font-weight:bold;">Heavy discount on listing plans.</span>
                <a href="~/Subscriptions/Subscriptions/Index" class="btn btn-warning-gradient" style="margin-left:50px;">Compare All Plans</a>
            </div>
            <!-- Begin: Show updated price here -->
            <div id="showUpdatedPrice" style="padding:20px; border:1px solid #d7d7d7; margin-bottom:10px; font-size:20px; text-align:center; font-weight:bold; color:#0052c4;"></div>
            <!-- End: -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        @foreach (var item in ViewBag.PeriodID)
                        {
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div style="padding:25px; border:1px solid #d7d7d7; margin-bottom:10px;">
                                        @if (item.DurationInMonths == 12)
                                        {
                                            <label class="rdiobox">
                                                <input name="PeriodID" type="radio" checked value="@item.PeriodID" data-period="@item.DurationInMonths"> <span style="margin-left:10px; font-size:14px;">@item.Name</span>
                                            </label>
                                        }
                                        else
                                        {
                                            <label class="rdiobox">
                                                <input name="PeriodID" type="radio" value="@item.PeriodID" data-period="@item.DurationInMonths"> <span style="margin-left:10px; font-size:14px;">@item.Name</span>
                                            </label>
                                        }


                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <select asp-for="PaymentMethod" id="paymentMethod" class="form-control select2" required>
                    <option value="Online">Online</option>
                    <option value="Cash On Delivery">Cash Or Cheque</option>
                </select>
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AcceptedTermsConditions" required /> @Html.DisplayNameFor(model => model.AcceptedTermsConditions)
                </label>
            </div>
            <div class="form-group">
                <button type="submit" id="confirmButton" class="btn btn-primary btn-block">Make Payment</button>
            </div>
        </form>
    </div>
</div>