@model BOL.PLAN.Subscription

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Subscription</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListingID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListingID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerGuid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerGuid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IPAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazorpayOrderID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazorpayOrderID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazorpayPaymentID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazorpayPaymentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazorpaySignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazorpaySignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptedTermsConditions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcceptedTermsConditions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Period)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Period.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubscriptionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
