<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="author" content="directory">
    <title>@ViewBag.Title</title>
    <!-- Favicons-->
    <link rel="shortcut icon" href="~/FrontEnd/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~/FrontEnd/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/FrontEnd/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/FrontEnd/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/FrontEnd/img/apple-touch-icon-144x144-precomposed.png">
    <!---Reset style-->
    <link href="~/FrontEnd/css/reset.css" rel="stylesheet">
    <!-- BASE CSS -->
    <link href="~/FrontEnd/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/FrontEnd/css/style.css" rel="stylesheet">
    <link href="~/FrontEnd/css/vendors.css" rel="stylesheet">
    <!-- YOUR CUSTOM CSS -->
    <link href="~/FrontEnd/css/custom.css" rel="stylesheet">
    <link href="~/FrontEnd/admin_section/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body class="option2">
    <!--  page Start -->
    <div id="page">

        <!-- Begin: Top Menu Shop -->
        @await Component.InvokeAsync("TopMenuShop")
        <!-- End: -->
        <!-- Search bar Start -->
        @*<div id="results">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 col-12">
                        <div class="wrap">
                            <div class="search">
                                <input type="text" id="searchBar" name="term" class="searchTerm" placeholder="Search">
                                <input type="text" id="GetValue" value="" name="GetValue" hidden />

                                <form id="searchForm" method="get">
                                    <input type="hidden" name="url" id="url" />
                                    <input type="hidden" name="term" id="term" />
                                    <input type="hidden" name="id" id="id" />
                                    <input type="hidden" name="keyword" id="keyword" />

                                    <button type="submit" class="searchButton" id="btnShafiSubmit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <!-- Search bar End -->

        <main>
            @RenderBody()
        </main>

        <!-- Begin: Footer -->
        @await Component.InvokeAsync("Footer")
        <!-- End: -->
    </div>
    <!-- Page End -->
    

    <div id="toTop"></div>
    <!-- Back to top button -->
    <!-- COMMON SCRIPTS Start -->
    <script src="~/FrontEnd/js/common_scripts.js"></script>
    <script src="~/FrontEnd/js/functions.js"></script>
    <script src="~/FrontEnd/js/validate.js"></script>
    <script src="~/FrontEnd/js/main.js"></script>
    <!-- COMMON SCRIPTS End -->
    <!-- Begin: jQueryUi Autocomplete. Help Video https://www.youtube.com/watch?v=D5pI_L2BC3A  -->
    <style>
        .ui-autocomplete {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0;
            list-style: none;
            font-size: 14px;
            text-align: left;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            background-clip: padding-box;
        }

            .ui-autocomplete > li > div {
                display: block;
                padding: 3px 20px;
                clear: both;
                font-size: 17px;
                font-family: Arial;
                font-weight: normal;
                line-height: 1.9;
                color: #000000;
                white-space: nowrap;
            }

        /*.ui-state-hover,*/
        .ui-state-active,
        .ui-state-focus {
            text-decoration: none;
            color: #000000;
            font-family: Arial;
            font-size: 16px;
            font-weight: normal;
            background-color: #f5f5f5;
            cursor: pointer;
        }

        .ui-helper-hidden-accessible {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
    </style>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(function () {
        $("#searchBar").autocomplete({
                source: '@Url.Action("FetchKeywords", "SearchEngine")',
                select: function (event, ui) {
                    event.preventDefault();
                    var searchDisplayText = ui.item.value.match(/\((.*)\)/);
                    $(this).val(searchDisplayText[1]);
                    $("#GetValue").val(ui.item.value);
                    $("#keyword").val(searchDisplayText[1]);
                //$("#SearchForm").submit();
                },
                focus: function (event, ui) {
                    event.preventDefault();
                    var searchDisplayText = ui.item.value.match(/\((.*)\)/);
                    $("#searchBar").val(searchDisplayText[1]);
                    $("#GetValue").val(ui.item.value);
                    $("#keyword").val(searchDisplayText[1]);
                },
            minLength: 3
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append(item.label)
                    .appendTo(ul);
                };
        });

        $("#btnShafiSubmit").click(function () {
            var searchTerm = $("#GetValue").val();
            var term = searchTerm.match("TermStart-(.*)-TermEnd");
            var url = searchTerm.match("UrlStart-(.*)-UrlEnd");
            var id = searchTerm.match("IdStart-(.*)-IdEnd");
            //alert("Search by term: " + term[1]);
            //alert("Search by url: " + url[1]);
            //alert("Search by id: " + id[1]);

            var formAction = "/Search/" + url[1] + "-" + term[1] + "-" + id[1];

            $("#url").val(url[1]);
            $("#term").val(term[1]);
            $("#id").val(id[1]);

            $("#searchForm").attr('action', formAction);
            $("#searchForm").submit();
        });
    </script>
    <script src="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7/leaflet.js"></script>
    <!-- Begin: Add Lazy Load -->
    @await Component.InvokeAsync("LazyLoadImages")
    <!-- End: -->
    <!-- Begin: Moment Date Time -->
    @await Component.InvokeAsync("MomentDateTimeJsLibrary")
    <!-- End: -->
    @RenderSection("Scripts", required: false)
</body>
</html>