@model BOL.LISTING.SocialNetwork

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SocialNetwork</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListingID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListingID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerGuid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerGuid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IPAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhatsappGroupLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhatsappGroupLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Youtube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Youtube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facebook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instagram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instagram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Linkedin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Linkedin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pinterest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pinterest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Twitter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Twitter)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SocialNetworkID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
