@model IEnumerable<BOL.LISTING.SocialNetwork>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerGuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhatsappGroupLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Youtube)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facebook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instagram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linkedin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pinterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Twitter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ListingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerGuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhatsappGroupLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Youtube)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instagram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Linkedin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pinterest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Twitter)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SocialNetworkID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SocialNetworkID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SocialNetworkID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
