@model IEnumerable<BOL.LISTING.PaymentMode>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerGuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetBanking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cheque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RtgsNeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebitCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayTM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhonePay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paypal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ListingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerGuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetBanking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cheque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RtgsNeft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DebitCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayTM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhonePay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paypal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
