@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Frontend/_SuccessOrErrorOrNotification.cshtml";
}

<link rel="stylesheet" href="~/css/MIM-OTP-Wizard.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#error").hide();
            $("#otp-display").hide();
            $("#verifyOtp").hide();
            $("#OtpSentMessage").hide();
            $("#ResendOtp").hide();
            $("#TypeOtpBox").hide();
            $("#SendOtp").click(function () {
                var mobile = $("#mobile").val();
                if (mobile == "") {
                    $("#error").fadeIn(1000);
                    $("#error").html("Mobile Number Required.");
                    $("#error").show();
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("CheckIfUserAlreadyClaimedAnyListing", "Listing", new { area = "Claims" })',
                        dataType: 'json',
                        data: {
                            userGuid: $("#userGuid").val()
                        },
                        success: function (data) {
                            if (data == false) {
                                $.ajax({
                                    type: 'POST',
                                    url: '@Url.Action("GenerateMobileOTP", "Listing", new { area = "Claims" })',
                                    dataType: 'json',
                                    data: {
                                        mobileNumber: $("#mobile").val(),
                                        userGuid: $("#userGuid").val(),
                                        listingId: $("#listingId").val(),
                                        message: $("#message").val()
                                    },
                                    success: function (data) {
                                        alert(data);
                                        $("#error").fadeOut(100);
                                        $("#SendOtp").fadeOut(100);
                                        $("#TypeOtpBox").fadeIn(1000);
                                        $("#OtpSentMessage").html("OTP sent, please check and type below.").fadeIn(1000);
                                        $("#ResendOtp").fadeIn(1000);
                                        $("#verifyOtp").fadeIn(1000);
                                        $("#SendOtp").fadeOut(500);
                                    },
                                    error: function (ex) {
                                        $("#verifyOtp").fadeOut(100)
                                        $("#error").fadeIn(1000);
                                        $("#error").html("Cannot fetch data, error is " + ex);
                                    }
                                });
                            }
                            else {
                                $("#error").fadeIn(1000);
                                $("#error").html("You have already claimed a listing. You can only claim 2 listing.");
                            }
                        },
                        error: function (ex) {
                            $("#error").fadeIn(1000);
                            $("#error").html("Cannot fetch data, error is " + ex);
                        }
                    });
                    return false;
                }
            });

            $("#verifyOtp").click(function () {

                var otp1 = $("#otp1").val();
                var otp2 = $("#otp2").val();
                var otp3 = $("#otp3").val();
                var otp4 = $("#otp4").val();
                var otp5 = $("#otp5").val();
                var otp6 = $("#otp6").val();

                if (otp1 != null && otp2 != null && otp3 != null && otp4 != null && otp5 != null && otp6 != null) {
                    var otpValues = otp1 + otp2 + otp3 + otp4 + otp5 + otp6;
                    if ($("#otp").val() != null && $("#userGuid").val() != null && $("#mobile").val() != null && $("#listingId").val() != null) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("VerifyMobileOTP", "Listing", new { area = "Claims" })',
                        dataType: 'json',
                        data: {
                            mobileNumber: $("#mobile").val(),
                            userGuid: $("#userGuid").val(),
                            listingId: $("#listingId").val(),
                            otp: otpValues
                        },
                        success: function (data) {
                            data = JSON.parse(data);
                            if (data.Successfull == true) {
                                window.location.href = "/Claims/Listing/Successfull";
                            }
                            else {
                                $("#error").fadeIn(1000);
                                $("#error").html("<br /><strong style='font-size:18px; color:red;'>" + data.Message + "</strong><br /><span style='font-size:16px; color:red;'>" + data.Information + "</span>");
                            }
                        },
                        error: function (ex) {
                            $("#error").fadeIn(1000);
                            $("#error").html("Cannot fetch data, error is " + ex);
                        }
                    });
                    return false;
                }
                else {
                    $("#error").fadeIn(1000);
                    $("#error").html("All fields are required.");
                }


                }
                else {
                    $("#error").fadeIn(1000);
                    $("#error").html("<hr /><strong style='font-size:18px; color:red;'>Error: 6 Digit OTP Required! </strong><br /><span style='font-size:16px; color:red;'>Please type correct OTP.</span><hr />");
                }
            });

            $("#ResendOtpButton").click(function () {
                var mobile = $("#mobile").val();
                if (mobile == "") {
                    $("#error").fadeIn(1000);
                    $("#error").html("Mobile Number Required.");
                    $("#error").show();
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GenerateMobileOTP", "Listing", new { area = "Claims" })',
                        dataType: 'json',
                        data: {
                            mobileNumber: $("#mobile").val(),
                            userGuid: $("#userGuid").val(),
                            listingId: $("#listingId").val(),
                            message: $("#message").val()
                        },
                        success: function (data) {
                            alert(data);

                            /* Shafi: Clear previously typed otp boxes */
                            var otp1 = $("#otp1").val('');
                            var otp2 = $("#otp2").val('');
                            var otp3 = $("#otp3").val('');
                            var otp4 = $("#otp4").val('');
                            var otp5 = $("#otp5").val('');
                            var otp6 = $("#otp6").val('');
                            /* End:*/

                            $("#error").fadeOut(100);
                            $("#SendOtp").fadeOut(100);
                            $("#TypeOtpBox").fadeIn(1000);
                            $("#OtpSentMessage").html("OTP resent, please check again.").fadeIn(1000);
                            $("#ResendOtp").fadeIn(1000);
                            $("#verifyOtp").fadeIn(1000);
                            $("#SendOtp").fadeOut(500);
                            //$("#otp-display").fadeIn(2000).html("OTP Is " + data);
                            //$("#otp-display").fadeIn(2000);
                        },
                        error: function (ex) {
                            $("#verifyOtp").fadeOut(100)
                            $("#error").fadeIn(1000);
                            $("#error").html("Cannot fetch data, error is " + ex);
                        }
                    });
                    return false;
                }
            });

        });
    </script>

    <script>
        var container = document.getElementsByClassName("MIM-OTP-Box")[0];
        container.onkeyup = function (e) {
            var target = e.srcElement;
            var maxLength = parseInt(target.attributes["maxlength"].value, 10);
            var myLength = target.value.length;
            if (myLength >= maxLength) {
                var next = target;
                while (next = next.nextElementSibling) {
                    if (next == null)
                        break;
                    if (next.tagName.toLowerCase() == "input") {
                        next.focus();
                        break;
                    }
                }
            }
        }
    </script>
}

<main>
    <div class="container MIM-OTP-Wizard-Container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 col-lg-4 col-xl-5 MIM-OTP-Wizard-Heading">
                <h4>Claim Listing</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 col-lg-4 col-xl-4 MIM-OTP-Wizard-Type-Container">
                <img src="~/icons/claim-listing-wizard/OTP.svg" />
                <h1>10 Digit Mobile Number</h1>
                <p>Use the same mobile number present in this listing.</p>
                <!-- Shafi: Hidden Inputs -->
                <input type="hidden" id="userGuid" name="UserGuid" value="@ViewBag.UserGuid" />
                <input type="hidden" id="listingId" name="ListingId" value="@ViewBag.ListingID" />
                <!-- OTP Concatenate -->
                <input type="text" id="otp" placeholder="OTP" hidden class="form-control" />
                <!-- End: -->
                <span id="otp-display" style="content:'\n'; white-space:pre;">Mobile number required.</span>
                <span id="error" style="content:'\n'; white-space:pre;"></span>
                <!-- End: -->

                <input type="text" id="mobile" maxlength="10" style="font-size:25px; letter-spacing:10px;" />
                <a href="#0" id="SendOtp">Send OTP</a>
                <div id="ResendOtp">
                    <p class="mt-4 text-success" id="OtpSentMessage"></p>
                    <div class="MIM-OTP-Box d-flex justify-content-around">
                        <input type="number" id="otp1" class="MIM-OTP-Number" maxlength="1" />
                        <input type="number" id="otp2" class="MIM-OTP-Number ml-2" maxlength="1" />
                        <input type="number" id="otp3" class="MIM-OTP-Number ml-2" maxlength="1" />
                        <input type="number" id="otp4" class="MIM-OTP-Number ml-2" maxlength="1" />
                        <input type="number" id="otp5" class="MIM-OTP-Number ml-2" maxlength="1" />
                        <input type="number" id="otp6" class="MIM-OTP-Number ml-2" maxlength="1" />
                    </div>
                    <a href="#0" id="verifyOtp"><i class="fa fa-mobile"></i> Verify OTP</a>
                    <p class="mt-4">Didn’t Receive OTP?</p>
                    <button id="ResendOtpButton">Resend OTP</button>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>

@*<div class="mt-5 mb-5">
        <div class="mt-2">
            <div>
                <input type="hidden" id="userGuid" name="UserGuid" value="@ViewBag.UserGuid" />
                <input type="hidden" id="listingId" name="ListingId" value="@ViewBag.ListingID" />
                <input type="text" id="mobile" placeholder="Mobile" class="form-control" />
                <textarea id="message" name="message" class="form-control mt-2" rows="3"></textarea>
            </div>
            <div class="mt-2">
                <input type="text" id="otp" placeholder="OTP" class="form-control" />
            </div>
            <div class="mt-4 mb-4">
                <span class="alert alert-success mt-2 mb-2" id="otp-display">Mobile number required.</span>
                <span class="alert alert-danger mt-2 mb-2" id="error"></span>
            </div>
            <button id="SendOtp" class="btn btn-sm btn-primary"><i class="fa fa-mobile"></i> <span class="ml-1">Generate OTP</span></button>
            <button id="verifyOtp" class="btn btn-sm btn-success"><i class="fa fa-mobile"></i> <span class="ml-1">Verify OTP</span></button>
        </div>
    </div>*@