@model BOL.LISTING.Communication
@inject DAL.LISTING.ListingDbContext listingContext

@{
    ViewData["Title"] = "Edit Communication";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<!-- Begin: Create history -->
@await Component.InvokeAsync("UserHistory", "Visited create listing page.")
<!-- End: -->
<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "Subscriptions";
    ViewData["BC-2"] = "Communication";
    ViewData["BC-3"] = ViewData["Title"];
    ViewData["BT-Text"] = "View All Listings";
    ViewData["BT-Link"] = "/Subscriptions/Listings/Index";
    ViewData["RecordID"] = Model.CommunicationID;
    // Shafi: Get Listing ID for Menu
    var listingId = listingContext.Communication.Where(i => i.CommunicationID == Model.CommunicationID).Select(i => i.ListingID).FirstOrDefault();
    ViewData["RecordID"] = listingId;
    // End:
}
<!-- End: -->
<!-- Begin: Change status of active edit listing menu based on selection -->
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var $Active = $('[name = "@ViewData["BC-2"]"]');
            $Active.addClass("active");
            $Active.find('span').removeClass("badge badge-secondary badge-pill").addClass("badge badge-light badge-pill");
        });
    </script>

    <script src="~/backend/assets/js/modal.js"></script>
    @if (TempData["SuccessMessage"] != null)
    {
        <script type="text/javascript">
            $(window).on('load', function () {
                $('#modalSuccess').modal('show');
            });
        </script>
    }
}
<!-- End: -->

<div class="col-lg-12">
    <div class="row">
        @await Component.InvokeAsync("EditListingSideMenu")

        <div class="col-lg-10">
            <h4>@ViewData["Title"]</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Language" class="control-label"></label>
                        <div class="dropdown">
                            <button class="form-control btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                                Select Languages
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @foreach (var language in (List<string>)ViewData["Language"])
                                {
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input language-checkbox" type="checkbox" name="Languages" value="@language" id="language-@language">
                                        <label class="form-check-label" for="language-@language">
                                            @language
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <span asp-validation-for="Language" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Mobile" class="control-label"></label>
                        <input asp-for="Mobile" type="number" class="form-control" data-parsley-class-handler="#fnWrapper" required disabled />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TollFree" class="control-label"></label>
                        <input asp-for="TollFree" type="number" class="form-control" disabled />
                        <span asp-validation-for="TollFree" class="text-danger"></span>
                    </div>

                    @*   <div class="form-group">
                    <label asp-for="Whatsapp" class="control-label"></label>
                    <input asp-for="Whatsapp" type="number" class="form-control" data-parsley-class-handler="#fnWrapper" required />
                    <span asp-validation-for="Whatsapp" class="text-danger"></span>
                    </div> *@
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" data-parsley-class-handler="#fnWrapper" required disabled />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telephone" class="control-label"></label>
                        <input asp-for="Telephone" type="number" class="form-control" disabled />
                        <span asp-validation-for="Telephone" class="text-danger"></span>
                    </div>

                    @* <div class="form-group">
                    <label asp-for="Fax" class="control-label"></label>
                    <input asp-for="Fax" type="number" class="form-control" />
                    <span asp-validation-for="Fax" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                    <label asp-for="SkypeID" class="control-label"></label>
                    <input asp-for="SkypeID" class="form-control" />
                    <span asp-validation-for="SkypeID" class="text-danger"></span>
                    </div> *@
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TelephoneSecond" class="control-label">Registered Mobile</label>
                        <input asp-for="TelephoneSecond" type="number" class="form-control" disabled />
                        <span asp-validation-for="TelephoneSecond" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Website" class="control-label"></label>
                        <input asp-for="Website" class="form-control" disabled />
                        <span asp-validation-for="Website" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <a asp-action="Edit" asp-route-id="@Model.CommunicationID" class="btn btn-primary">Edit</a>
            </div>
        </div>
    </div>
</div>

<!-- Begin: Model popup for listing created successfuly -->
<div class="modal" id="modalSuccess">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button> <i class="icon ion-ios-checkmark-circle-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
                <h4 class="tx-success tx-semibold mg-b-20">Success!</h4>
                <h6 class="mg-b-20 mg-x-20">@TempData["SuccessMessage"]</h6>
                <div class="modal-footer justify-content-center">
                    <button class="btn ripple btn-success" data-dismiss="modal" type="button">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End: -->