@model BOL.LISTING.Address
@inject IAddresses addressRepo
@inject DAL.LISTING.ListingDbContext listingContext

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

@{
    var country = await addressRepo.CountryDetailsAsync(Model.CountryID);
    var state = await addressRepo.StateDetailsAsync(Model.StateID);
    var city = await addressRepo.CityDetailsAsync(Model.City);
    var station = await addressRepo.StationDetailsAsync(Model.AssemblyID);
    var pincode = await addressRepo.PincodeDetailsAsync(Model.PincodeID);
    var locality = await addressRepo.LocalityDetailsAsync(Model.LocalityID);
}

<!-- Begin: Create history -->
@await Component.InvokeAsync("UserHistory", "Visited create listing page.")
<!-- End: -->
<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "Subscriptions";
    ViewData["BC-2"] = "Address";
    ViewData["BC-3"] = ViewData["Title"];
    ViewData["BT-Text"] = "View All Listings";
    ViewData["BT-Link"] = "/Subscriptions/Listings/Index";
    var listingId = listingContext.Address.Where(i => i.AddressID == Model.AddressID).Select(i => i.ListingID).FirstOrDefault();
    ViewData["RecordID"] = listingId;
}
<!-- End: -->
<!-- Begin: Button in select2 Add New -->
<style>
    .addNewItem {
        padding: 10px;
        color: #454545;
        width: 100%;
        display: inline-table;
        font-family: Arial;
        border-top: #d8d8d8 solid 1px;
        text-decoration: none;
    }

    .modal-backdrop {
        opacity: 0.5 !important;
    }
</style>
<!-- End: -->

@section Scripts{
    <!-- Begin: Refence External Scripts -->
    @*<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>*@
    <!-- End: Refence External Scripts -->
    <script type="text/javascript">
        $(document).ready(function () {
            var $Active = $('[name = "@ViewData["BC-2"]"]');
            $Active.addClass("active");
            $Active.find('span').removeClass("badge badge-secondary badge-pill").addClass("badge badge-light badge-pill");
        });
    </script>

    <script type="text/javascript">
    $(document).ready(function () {
        $("#CountryId").change(function () {
            $("#StateId").empty();
            $("#CityId").empty();
            $("#AssemblyId").empty();
            $("#PincodeId").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("fetchStates", "CascadeDropdownAddress", new { area = "" })',
                dataType: 'json',
                data: { JsonCountryValueId: $("#CountryId").val() },
                success: function (selStates) {
                    $.each(selStates, function (i, State) {
                        $("#StateId").append('<option value="' + State.value + '">' + State.text + '</option>');
                    });
                },
                error: function (ex) {
                    alert("Cannot fetch data, error is " + ex);
                }
            });
            return false;
        })
    });
    </script>

    <script type="text/javascript">
    $(document).ready(function () {
        $("#StateId").change(function () {
            $("#CityId").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("fetchCities", "CascadeDropdownAddress", new { area = "" })',
                dataType: 'json',
                data: { JsonStateValueId: $("#StateId").val() },
                success: function (selCities) {
                    $.each(selCities, function (i, City) {
                        $("#CityId").append('<option value="' + City.value + '">' + City.text + '</option>');
                    });
                },
                error: function (ex) {
                    alert("Cannot fetch data, error is " + ex);
                }
            });
            return false;
        })
    });
    </script>

    <script type="text/javascript">
    $(document).ready(function () {
        $("#CityId").change(function () {
            $("#AssemblyID").empty();
            document.getElementById("hiddenCityID").value = $("#CityId").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("fetchAssemblies", "CascadeDropdownAddress", new { area = "" })',
                dataType: 'json',
                data: { JsonCityValueId: $("#CityId").val() },
                success: function (selAssembly) {
                    $.each(selAssembly, function (i, Assembly) {
                        $("#AssemblyID").append('<option value="' + Assembly.value + '">' + Assembly.text + '</option>');
                    });
                },
                error: function (ex) {
                    alert("Cannot fetch data, error is " + ex);
                }
            });
            return false;
        })
    });
    </script>

    <script type="text/javascript">
    $(document).ready(function () {
        $("#AssemblyID").change(function () {
            $("#PincodeID").empty();
            document.getElementById("hiddenAssemblyID").value = $("#AssemblyID").val();
            document.getElementById("hiddenAssemblyIDForLocality").value = $("#AssemblyID").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("fetchPincodes", "CascadeDropdownAddress", new { area = "" })',
                dataType: 'json',
                data: { JsonAssemblyValueId: $("#AssemblyID").val() },
                success: function (fetchPincodes) {
                    $.each(fetchPincodes, function (i, Pincodes) {
                        $("#PincodeID").append('<option value="' + Pincodes.value + '">' + Pincodes.text + '</option>');
                    });
                },
                error: function (ex) {
                    alert("Cannot fetch data, error is " + ex);
                }
            });
            return false;
        })
    });
    </script>

    <script type="text/javascript">
    $(document).ready(function () {
        $("#PincodeID").change(function () {
            $("#LocalityID").empty();
            document.getElementById("hiddenPincodeID").value = $("#PincodeID").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("fetchLocalities", "CascadeDropdownAddress", new { area = "" })',
                dataType: 'json',
                data: { JsonPincodeValueId: $("#PincodeID").val() },
                success: function (fetchLocalities) {
                    $.each(fetchLocalities, function (i, Localities) {
                        $("#LocalityID").append('<option value="' + Localities.value + '">' + Localities.text + '</option>');
                    });
                },
                error: function (ex) {
                    alert("Cannot fetch data, error is " + ex);
                }
            });
            return false;
        })
    });
    </script>

    <script type="text/javascript">
        /* Begin: Add Assembly Form in Popup of Cascade Dropdown */
        $('#AssemblyID')
            .select2()
            .on('select2:open', () => {
                $(".select2-results:not(:has(a))").append('<a data-target="#modelAssembly" data-toggle="modal" href="" id="addAssembly" class="addNewItem" style="background-color:#f5f5f5; color:#696969; border-top:1px solid #b0b0b0; font-weight:bold;"> + Add Assembly</a>');
            })

        $(document).on("click", "#addAssembly", function () {
            $('#AssemblyID').select2('close');
        });

        //$('#assemblyForm').submit(function () {
        //    var form = $('#assemblyForm');
        //    $.ajax({
        //        type: 'POST',
        //        url: '/AjaxRequests/Addresses/CreateAssembly',
        //        data: form.serialize(),
        //        success: function () {
        //            location.href = '/Subscriptions/Addresses/create';
        //        }
        //    });
        //});
        /* End: */

        /* Begin: Add Pincode Form in Popup of Cascade Dropdown */
        $('#PincodeID')
            .select2()
            .on('select2:open', () => {
                $(".select2-results:not(:has(a))").append('<a data-target="#modelPincode" data-toggle="modal" href="" id="addPincode" class="addNewItem"> + Add Pincode</a>');
            })

        $(document).on("click", "#addPincode", function () {
            $('#PincodeID').select2('close');
        });

        //$('#pincodeForm').submit(function () {
        //    $.ajax({
        //        type: 'POST',
        //        url: '/AjaxRequests/Addresses/CreatePincode',
        //        data: form.serialize(),
        //        success: function () {
        //            location.href = '/Subscriptions/Addresses/create';
        //        }
        //    });
        //});
        /* End: */

        /* Begin: Add Locality Form in Popup of Cascade Dropdown */
        $('#LocalityID')
            .select2()
            .on('select2:open', () => {
                $(".select2-results:not(:has(a))").append('<a data-target="#modelLocality" data-toggle="modal" href="" id="addLocality" class="addNewItem">Add Locality</a>');
            })

        $(document).on("click", "#addLocality", function () {
            $('#LocalityID').select2('close');
        });
        /* End: */
    </script>

    <!-- Begin: Modal popup for success messages -->
    <script src="~/backend/assets/js/modal.js"></script>
    @if (ViewBag.CreateMessage != null)
    {
        <script type="text/javascript">
            $(window).on('load', function () {
                $('#modalAssemblyCreated').modal('show');
            });
        </script>
    }
    @if (ViewBag.CreateError != null)
    {
        <script type="text/javascript">
            $(window).on('load', function () {
                $('#modalAssemblyError').modal('show');
            });
        </script>
    }
    <!-- End: Modal popup for success messages -->
}


<div class="col-lg-12">
    <div class="row">
        @await Component.InvokeAsync("EditListingSideMenu")

        <div class="col-lg-10">
            <h4>Add Address</h4>
            <hr />
            <form asp-action="Edit" class="parsley-style-1" id="selectForm2" name="selectForm2">
                <div class="row">
                    <div class="col-md-4">
                        <!-- Begin: Hidden -->
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="AddressID" />
                        <input type="hidden" asp-for="ListingID" />
                        <input type="hidden" asp-for="OwnerGuid" />
                        <input type="hidden" asp-for="IPAddress" />
                        <span asp-validation-for="ListingID" class="text-danger"></span>
                        <span asp-validation-for="OwnerGuid" class="text-danger"></span>
                        <span asp-validation-for="IPAddress" class="text-danger"></span>
                        <!-- End:-->
                        <div class="form-group">
                            <label asp-for="CountryID" class="control-label"></label>
                            <select asp-for="CountryID" id="CountryId" asp-items="ViewBag.Countries" class="form-control select2">
                                <option selected value="@Model.CountryID">@country.Name</option>
                            </select>
                            <span asp-validation-for="CountryID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AssemblyID" class="control-label"></label>
                            <select asp-for="AssemblyID" id="AssemblyID" class="form-control select2">
                                <option selected value="@Model.AssemblyID">@station.Name</option>
                            </select>
                            <span asp-validation-for="AssemblyID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="StateID" class="control-label"></label>
                            <select asp-for="StateID" id="StateId" class="form-control select2">
                                <option selected value="@Model.StateID">@state.Name</option>
                            </select>
                            <span asp-validation-for="StateID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PincodeID" class="control-label"></label>
                            <select asp-for="PincodeID" id="PincodeID" class="form-control select2">
                                <option selected value="@Model.PincodeID">@pincode.PincodeNumber</option>
                            </select>
                            <span asp-validation-for="PincodeID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="City" class="control-label"></label>
                            <select asp-for="City" id="CityId" class="form-control select2">
                                <option selected value="@Model.City">@city.Name</option>
                            </select>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @if (locality != null)
                            {
                                <label asp-for="LocalityID" class="control-label"></label>
                                <select asp-for="LocalityID" id="LocalityID" class="form-control select2">
                                    <option selected value="@Model.LocalityID">@locality.Name</option>
                                </select>
                                <span asp-validation-for="LocalityID" class="text-danger"></span>
                            }
                            else
                            {
                                <label asp-for="LocalityID" class="control-label"></label>
                                <select asp-for="LocalityID" id="LocalityID" class="form-control select2">
                                </select>
                                <span asp-validation-for="LocalityID" class="text-danger"></span>
                            }
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="control-label">Address</label>
                            <input type="text" asp-for="LocalAddress" class="form-control">
                            <span asp-validation-for="LocalAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save & Continue" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="modal" id="modelAssembly">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <form id="assemblyForm" method="post" action="~/AjaxRequests/Addresses/CreateAssembly">
                <div class="modal-body">
                    <h5>Add Assembly</h5>
                    <input type="hidden" name="CityID" id="hiddenCityID" class="form-control" />
                    <input type="text" name="Name" class="form-control" placeholder="Locality OR Area" />

                </div>
                <div class="modal-footer justify-content-center">
                    <button class="btn ripple btn-primary" type="submit">Save</button>
                    <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="modelPincode">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <form id="pincodeForm" method="post" action="~/AjaxRequests/Addresses/CreatePincode">
                <div class="modal-body">
                    <h5>Add Pincode</h5>
                    <input type="hidden" name="StationID" id="hiddenAssemblyID" class="form-control" />
                    <input type="text" name="PincodeNumber" class="form-control" placeholder="400058, 400053 etc." />
                </div>
                <div class="modal-footer justify-content-center">
                    <button class="btn ripple btn-primary" type="submit">Save Pincode</button>
                    <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="modelLocality">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <form id="localityForm" method="post" action="~/AjaxRequests/Addresses/CreateLocality">
                <div class="modal-body">
                    <h5>Add Locality</h5>
                    <input type="hidden" name="StationID" id="hiddenAssemblyIDForLocality" class="form-control" />
                    <input type="hidden" name="PincodeID" id="hiddenPincodeID" class="form-control" />
                    <input type="text" name="LocalityName" class="form-control" placeholder="Nearest Area, Road, Landmark etc." />
                </div>
                <div class="modal-footer justify-content-center">
                    <button class="btn ripple btn-primary" type="submit">Save Locality</button>
                    <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Begin: Assembly creatd successfully - Modal Popup -->
<div class="modal" id="modalAssemblyCreated">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button> <i class="icon ion-ios-checkmark-circle-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
                <h4 class="tx-success tx-semibold mg-b-20">Success!</h4>
                <h6 class="mg-b-20 mg-x-20">@ViewBag.CreateMessage</h6>
                <div class="modal-footer justify-content-center">
                    <button class="btn ripple btn-success" data-dismiss="modal" type="button">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End: -->
<!-- Begin: Assembly error - Modal Popup -->
<div class="modal" id="modalAssemblyError">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button> <i class="icon icon ion-ios-close-circle-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                <p class="mg-b-20 mg-x-20">@ViewBag.CreateError</p><button aria-label="Close" class="btn ripple btn-danger pd-x-25" data-dismiss="modal" type="button">Continue</button>
            </div>
        </div>
    </div>
</div>
<!-- End: -->
