@inject IUsersOnlineRepository userOnlineRepo

@{
    var allUnreadNotificationCount = await userOnlineRepo.CountAllUnreadNotificationsOfNotifierAsync(User.Identity.Name);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="@ViewData["Title"]">
    <meta name="Author" content="My Interior Mart">
    <meta name="Keywords" content="@ViewData["Title"]" />
    <!-- Title -->
    <title>@ViewData["Title"]</title>

    <!-- Favicon -->
    <link rel="icon" href="~/backend/assets/img/brand/favicon.png" type="image/x-icon" />

    <!-- Icons css -->
    <link href="~/backend/assets/css/icons.css" rel="stylesheet">

    <!-- Internal Select2 css -->
    <link href="~/backend/assets/plugins/select2/css/select2.min.css" rel="stylesheet">

    <!--Internal  Datetimepicker-slider css -->
    <link href="~/backend/assets/plugins/amazeui-datetimepicker/css/amazeui.datetimepicker.css" rel="stylesheet">
    <link href="~/backend/assets/plugins/jquery-simple-datetimepicker/jquery.simple-dtpicker.css" rel="stylesheet">
    <link href="~/backend/assets/plugins/pickerjs/picker.min.css" rel="stylesheet">

    <!-- Internal Spectrum-colorpicker css -->
    <link href="~/backend/assets/plugins/spectrum-colorpicker/spectrum.css" rel="stylesheet">

    <!--  Right-sidemenu css -->
    <link href="~/backend/assets/plugins/sidebar/sidebar.css" rel="stylesheet">

    <!--  Custom Scroll bar-->
    <link href="~/backend/assets/plugins/mscrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" />

    <!--  Left-Sidebar css -->
    <link rel="stylesheet" href="~/backend/assets/css/closed-sidemenu.css">

    <!--- Style css --->
    <link href="~/backend/assets/css/style.css" rel="stylesheet">

    <!---Internal Fileupload css-->
    <link href="~/backend/assets/plugins/fileuploads/css/fileupload.css" rel="stylesheet" type="text/css" />

    <!---Internal Fancy uploader css-->
    <link href="~/backend/assets/plugins/fancyuploder/fancy_fileupload.css" rel="stylesheet" />

    <!--- Dark-mode css --->
    <link href="~/backend/assets/css/style-dark.css" rel="stylesheet">

    <!---Skinmodes css-->
    <link href="~/backend/assets/css/skin-modes.css" rel="stylesheet" />

    <!--- Animations css-->
    <link href="~/backend/assets/css/animate.css" rel="stylesheet">

    <!--Internal Sumoselect css-->
    <link rel="stylesheet" href="~/backend/assets/plugins/sumoselect/sumoselect.css">

    <!-- Begin: Grid -->
    <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">
    @RenderSection("CSS", required: false)
</head>

<body class="main-body app sidebar-mini">
    <!-- Loader -->
    <div id="global-loader">
        <img src="~/backend/assets/img/loader.svg" class="loader-img" alt="Loader">
    </div>
    <!-- /Loader -->
    <!-- Page -->
    <div class="page">
        <!-- Begin: Admin Side Menu -->
        @await Component.InvokeAsync("DashboardSideMenu")
        <!-- End: -->
        <!-- main-content -->
        <div class="main-content app-content">
            <!-- Begin: Top Header Menu -->
            @await Component.InvokeAsync("DashboardTopMenu")
            <!-- End:-->
            <!-- container -->
            <div class="container-fluid">
                <!-- Begin: Breadcrumb -->
                <div class="breadcrumb-header justify-content-between">
                    <div class="my-auto">
                        @* <div class="d-flex">
                            <h4 class="content-title mb-0 my-auto">@ViewData["BC-1"]</h4>
                            <span class="text-muted mt-1 tx-13 ml-2 mb-0">/ @ViewData["BC-2"]</span>
                        </div> *@
                    </div>
                    <div class="d-flex my-xl-auto right-content">
                        @* <div class="pr-1 mb-3 mb-xl-0">
                            <a href="@ViewData["BT-Link"]" class="btn btn-primary">@ViewData["BT-Text"]</a>
                            <a href="@ViewData["BT-Link2"]" id="CreateAjaxCall" class="btn btn-danger">@ViewData["BT-Text2"]</a>
                        </div> *@
                        @* <div class="pr-1 mb-3 mb-xl-0">
                            <a href="~/" target="_blank" class="btn btn-secondary btn-icon mr-2"><i class="mdi mdi-home"></i></a>
                        </div> *@
                    </div>
                </div>
                <!-- End: -->
                <!-- Begin: Render Body -->
                <div class="row">
                    <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End:-->

            </div>
            <!-- Container closed -->
        </div>
        <!-- main-content closed -->
        <!-- Sidebar-right-->
        <div class="sidebar sidebar-right sidebar-animate">
            <div class="panel panel-primary card mb-0 box-shadow">
                <div class="tab-menu-heading border-0 p-3">
                    <div class="card-title mb-0">Notifications</div>
                    <div class="card-options ml-auto">
                        <a href="#" class="sidebar-remove"><i class="fe fe-x"></i></a>
                    </div>
                </div>
                <div class="panel-body tabs-menu-body latest-tasks p-0 border-0">
                    <div class="tabs-menu ">
                        <!-- Tabs -->
                        <ul class="nav panel-tabs">
                            <li class=""><a href="#side1" class="active" data-toggle="tab"><i class="ion ion-md-chatboxes tx-18 mr-2"></i> Chat</a></li>
                            <li><a href="#side2" data-toggle="tab"><i class="ion ion-md-notifications tx-18  mr-2"></i> Notifications</a></li>
                            <li><a href="#side3" data-toggle="tab"><i class="ion ion-md-contacts tx-18 mr-2"></i> Friends</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active " id="side1">
                            <div class="list d-flex align-items-center border-bottom p-3">
                                <div class="">
                                    <span class="avatar bg-primary brround avatar-md">CH</span>
                                </div>
                                <a class="wrapper w-100 ml-3" href="#" data-toggle="modal" data-target="#chatmodel">
                                    <p class="mb-0 d-flex ">
                                        <b>New Websites is Created</b>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="mdi mdi-clock text-muted mr-1"></i>
                                            <small class="text-muted ml-auto">30 mins ago</small>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="list d-flex align-items-center border-bottom p-3">
                                <div class="">
                                    <span class="avatar bg-danger brround avatar-md">N</span>
                                </div>
                                <a class="wrapper w-100 ml-3" href="#" data-toggle="modal" data-target="#chatmodel">
                                    <p class="mb-0 d-flex ">
                                        <b>Prepare For the Next Project</b>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="mdi mdi-clock text-muted mr-1"></i>
                                            <small class="text-muted ml-auto">2 hours ago</small>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="list d-flex align-items-center border-bottom p-3">
                                <div class="">
                                    <span class="avatar bg-info brround avatar-md">S</span>
                                </div>
                                <a class="wrapper w-100 ml-3" href="#" data-toggle="modal" data-target="#chatmodel">
                                    <p class="mb-0 d-flex ">
                                        <b>Decide the live Discussion</b>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="mdi mdi-clock text-muted mr-1"></i>
                                            <small class="text-muted ml-auto">3 hours ago</small>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="list d-flex align-items-center border-bottom p-3">
                                <div class="">
                                    <span class="avatar bg-warning brround avatar-md">K</span>
                                </div>
                                <a class="wrapper w-100 ml-3" href="#" data-toggle="modal" data-target="#chatmodel">
                                    <p class="mb-0 d-flex ">
                                        <b>Meeting at 3:00 pm</b>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="mdi mdi-clock text-muted mr-1"></i>
                                            <small class="text-muted ml-auto">4 hours ago</small>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="list d-flex align-items-center border-bottom p-3">
                                <div class="">
                                    <span class="avatar bg-success brround avatar-md">R</span>
                                </div>
                                <a class="wrapper w-100 ml-3" href="#" data-toggle="modal" data-target="#chatmodel">
                                    <p class="mb-0 d-flex ">
                                        <b>Prepare for Presentation</b>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="mdi mdi-clock text-muted mr-1"></i>
                                            <small class="text-muted ml-auto">1 days ago</small>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="list d-flex align-items-center border-bottom p-3">
                                <div class="">
                                    <span class="avatar bg-pink brround avatar-md">MS</span>
                                </div>
                                <a class="wrapper w-100 ml-3" href="#" data-toggle="modal" data-target="#chatmodel">
                                    <p class="mb-0 d-flex ">
                                        <b>Prepare for Presentation</b>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="mdi mdi-clock text-muted mr-1"></i>
                                            <small class="text-muted ml-auto">1 days ago</small>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="list d-flex align-items-center border-bottom p-3">
                                <div class="">
                                    <span class="avatar bg-purple brround avatar-md">L</span>
                                </div>
                                <a class="wrapper w-100 ml-3" href="#" data-toggle="modal" data-target="#chatmodel">
                                    <p class="mb-0 d-flex ">
                                        <b>Prepare for Presentation</b>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="mdi mdi-clock text-muted mr-1"></i>
                                            <small class="text-muted ml-auto">45 mintues ago</small>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="list d-flex align-items-center p-3">
                                <div class="">
                                    <span class="avatar bg-blue brround avatar-md">U</span>
                                </div>
                                <a class="wrapper w-100 ml-3" href="#" data-toggle="modal" data-target="#chatmodel">
                                    <p class="mb-0 d-flex ">
                                        <b>Prepare for Presentation</b>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="mdi mdi-clock text-muted mr-1"></i>
                                            <small class="text-muted ml-auto">2 days ago</small>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="tab-pane  " id="side2">
                            <div class="list-group list-group-flush ">
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-3">
                                        <span class="avatar avatar-lg brround cover-image" data-image-src="~/backend/assets/img/faces/12.jpg"><span class="avatar-status bg-success"></span></span>
                                    </div>
                                    <div>
                                        <strong>Madeleine</strong> Hey! there I' am available....
                                        <div class="small text-muted">
                                            3 hours ago
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-3">
                                        <span class="avatar avatar-lg brround cover-image" data-image-src="~/backend/assets/img/faces/1.jpg"></span>
                                    </div>
                                    <div>
                                        <strong>Anthony</strong> New product Launching...
                                        <div class="small text-muted">
                                            5 hour ago
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-3">
                                        <span class="avatar avatar-lg brround cover-image" data-image-src="~/backend/assets/img/faces/2.jpg"><span class="avatar-status bg-success"></span></span>
                                    </div>
                                    <div>
                                        <strong>Olivia</strong> New Schedule Realease......
                                        <div class="small text-muted">
                                            45 mintues ago
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-3">
                                        <span class="avatar avatar-lg brround cover-image" data-image-src="~/backend/assets/img/faces/8.jpg"><span class="avatar-status bg-success"></span></span>
                                    </div>
                                    <div>
                                        <strong>Madeleine</strong> Hey! there I' am available....
                                        <div class="small text-muted">
                                            3 hours ago
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-3">
                                        <span class="avatar avatar-lg brround cover-image" data-image-src="~/backend/assets/img/faces/11.jpg"></span>
                                    </div>
                                    <div>
                                        <strong>Anthony</strong> New product Launching...
                                        <div class="small text-muted">
                                            5 hour ago
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-3">
                                        <span class="avatar avatar-lg brround cover-image" data-image-src="~/backend/assets/img/faces/6.jpg"><span class="avatar-status bg-success"></span></span>
                                    </div>
                                    <div>
                                        <strong>Olivia</strong> New Schedule Realease......
                                        <div class="small text-muted">
                                            45 mintues ago
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-3">
                                        <span class="avatar avatar-lg brround cover-image" data-image-src="~/backend/assets/img/faces/9.jpg"><span class="avatar-status bg-success"></span></span>
                                    </div>
                                    <div>
                                        <strong>Olivia</strong> Hey! there I' am available....
                                        <div class="small text-muted">
                                            12 mintues ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane  " id="side3">
                            <div class="list-group list-group-flush ">
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-2">
                                        <span class="avatar avatar-md brround cover-image" data-image-src="~/backend/assets/img/faces/9.jpg"><span class="avatar-status bg-success"></span></span>
                                    </div>
                                    <div class="">
                                        <div class="font-weight-semibold">Mozelle Belt</div>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="#" class="btn btn-sm btn-light" data-toggle="modal" data-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-2">
                                        <span class="avatar avatar-md brround cover-image" data-image-src="~/backend/assets/img/faces/11.jpg"></span>
                                    </div>
                                    <div class="">
                                        <div class="font-weight-semibold">Florinda Carasco</div>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="#" class="btn btn-sm btn-light" data-toggle="modal" data-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-2">
                                        <span class="avatar avatar-md brround cover-image" data-image-src="~/backend/assets/img/faces/10.jpg"><span class="avatar-status bg-success"></span></span>
                                    </div>
                                    <div class="">
                                        <div class="font-weight-semibold">Alina Bernier</div>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="#" class="btn btn-sm btn-light" data-toggle="modal" data-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-2">
                                        <span class="avatar avatar-md brround cover-image" data-image-src="~/backend/assets/img/faces/2.jpg"><span class="avatar-status bg-success"></span></span>
                                    </div>
                                    <div class="">
                                        <div class="font-weight-semibold">Zula Mclaughin</div>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="#" class="btn btn-sm btn-light" data-toggle="modal" data-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-2">
                                        <span class="avatar avatar-md brround cover-image" data-image-src="~/backend/assets/img/faces/13.jpg"></span>
                                    </div>
                                    <div class="">
                                        <div class="font-weight-semibold">Isidro Heide</div>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="#" class="btn btn-sm btn-light" data-toggle="modal" data-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-2">
                                        <span class="avatar avatar-md brround cover-image" data-image-src="~/backend/assets/img/faces/12.jpg"><span class="avatar-status bg-success"></span></span>
                                    </div>
                                    <div class="">
                                        <div class="font-weight-semibold">Mozelle Belt</div>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="#" class="btn btn-sm btn-light" data-toggle="modal" data-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-2">
                                        <span class="avatar avatar-md brround cover-image" data-image-src="~/backend/assets/img/faces/4.jpg"></span>
                                    </div>
                                    <div class="">
                                        <div class="font-weight-semibold">Florinda Carasco</div>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="#" class="btn btn-sm btn-light" data-toggle="modal" data-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-2">
                                        <span class="avatar avatar-md brround cover-image" data-image-src="~/backend/assets/img/faces/7.jpg"></span>
                                    </div>
                                    <div class="">
                                        <div class="font-weight-semibold">Alina Bernier</div>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="#" class="btn btn-sm btn-light" data-toggle="modal" data-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-2">
                                        <span class="avatar avatar-md brround cover-image" data-image-src="~/backend/assets/img/faces/2.jpg"></span>
                                    </div>
                                    <div class="">
                                        <div class="font-weight-semibold">Zula Mclaughin</div>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="#" class="btn btn-sm btn-light" data-toggle="modal" data-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-2">
                                        <span class="avatar avatar-md brround cover-image" data-image-src="~/backend/assets/img/faces/14.jpg"><span class="avatar-status bg-success"></span></span>
                                    </div>
                                    <div class="">
                                        <div class="font-weight-semibold">Isidro Heide</div>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="#" class="btn btn-sm btn-light" data-toggle="modal" data-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-2">
                                        <span class="avatar avatar-md brround cover-image" data-image-src="~/backend/assets/img/faces/11.jpg"></span>
                                    </div>
                                    <div class="">
                                        <div class="font-weight-semibold">Florinda Carasco</div>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="#" class="btn btn-sm btn-light" data-toggle="modal" data-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-2">
                                        <span class="avatar avatar-md brround cover-image" data-image-src="~/backend/assets/img/faces/9.jpg"></span>
                                    </div>
                                    <div class="">
                                        <div class="font-weight-semibold">Alina Bernier</div>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="#" class="btn btn-sm btn-light" data-toggle="modal" data-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-2">
                                        <span class="avatar avatar-md brround cover-image" data-image-src="~/backend/assets/img/faces/15.jpg"><span class="avatar-status bg-success"></span></span>
                                    </div>
                                    <div class="">
                                        <div class="font-weight-semibold">Zula Mclaughin</div>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="#" class="btn btn-sm btn-light" data-toggle="modal" data-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex  align-items-center">
                                    <div class="mr-2">
                                        <span class="avatar avatar-md brround cover-image" data-image-src="~/backend/assets/img/faces/4.jpg"></span>
                                    </div>
                                    <div class="">
                                        <div class="font-weight-semibold">Isidro Heide</div>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="#" class="btn btn-sm btn-light" data-toggle="modal" data-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Sidebar-right-->
        <!-- Message Modal -->
        <div class="modal fade" id="chatmodel" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-right chatbox" role="document">
                <div class="modal-content chat border-0">
                    <div class="card overflow-hidden mb-0 border-0">
                        <!-- action-header -->
                        <div class="action-header clearfix">
                            <div class="float-left hidden-xs d-flex ml-2">
                                <div class="img_cont mr-3">
                                    <img src="~/backend/assets/img/faces/6.jpg" class="rounded-circle user_img" alt="img">
                                </div>
                                <div class="align-items-center mt-2">
                                    <h4 class="text-white mb-0 font-weight-semibold">Daneil Scott</h4>
                                    <span class="dot-label bg-success"></span><span class="mr-3 text-white">online</span>
                                </div>
                            </div>
                            <ul class="ah-actions actions align-items-center">
                                <li class="call-icon">
                                    <a href="" class="d-done d-md-block phone-button" data-toggle="modal" data-target="#audiomodal">
                                        <i class="si si-phone"></i>
                                    </a>
                                </li>
                                <li class="video-icon">
                                    <a href="" class="d-done d-md-block phone-button" data-toggle="modal" data-target="#videomodal">
                                        <i class="si si-camrecorder"></i>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="" data-toggle="dropdown" aria-expanded="true">
                                        <i class="si si-options-vertical"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><i class="fa fa-user-circle"></i> View profile</li>
                                        <li><i class="fa fa-users"></i>Add friends</li>
                                        <li><i class="fa fa-plus"></i> Add to group</li>
                                        <li><i class="fa fa-ban"></i> Block</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" class="" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"><i class="si si-close text-white"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- action-header end -->
                        <!-- msg_card_body -->
                        <div class="card-body msg_card_body">
                            <div class="chat-box-single-line">
                                <abbr class="timestamp">February 1st, 2019</abbr>
                            </div>
                            <div class="d-flex justify-content-start">
                                <div class="img_cont_msg">
                                    <img src="~/backend/assets/img/faces/6.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                                <div class="msg_cotainer">
                                    Hi, how are you Jenna Side?
                                    <span class="msg_time">8:40 AM, Today</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end ">
                                <div class="msg_cotainer_send">
                                    Hi Connor Paige i am good tnx how about you?
                                    <span class="msg_time_send">8:55 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="~/backend/assets/img/faces/9.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                            </div>
                            <div class="d-flex justify-content-start ">
                                <div class="img_cont_msg">
                                    <img src="~/backend/assets/img/faces/6.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                                <div class="msg_cotainer">
                                    I am good too, thank you for your chat template
                                    <span class="msg_time">9:00 AM, Today</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end ">
                                <div class="msg_cotainer_send">
                                    You welcome Connor Paige
                                    <span class="msg_time_send">9:05 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="~/backend/assets/img/faces/9.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                            </div>
                            <div class="d-flex justify-content-start ">
                                <div class="img_cont_msg">
                                    <img src="~/backend/assets/img/faces/6.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                                <div class="msg_cotainer">
                                    Yo, Can you update Views?
                                    <span class="msg_time">9:07 AM, Today</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                                <div class="msg_cotainer_send">
                                    But I must explain to you how all this mistaken  born and I will give
                                    <span class="msg_time_send">9:10 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="~/backend/assets/img/faces/9.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                            </div>
                            <div class="d-flex justify-content-start ">
                                <div class="img_cont_msg">
                                    <img src="~/backend/assets/img/faces/6.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                                <div class="msg_cotainer">
                                    Yo, Can you update Views?
                                    <span class="msg_time">9:07 AM, Today</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                                <div class="msg_cotainer_send">
                                    But I must explain to you how all this mistaken  born and I will give
                                    <span class="msg_time_send">9:10 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="~/backend/assets/img/faces/9.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                            </div>
                            <div class="d-flex justify-content-start ">
                                <div class="img_cont_msg">
                                    <img src="~/backend/assets/img/faces/6.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                                <div class="msg_cotainer">
                                    Yo, Can you update Views?
                                    <span class="msg_time">9:07 AM, Today</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                                <div class="msg_cotainer_send">
                                    But I must explain to you how all this mistaken  born and I will give
                                    <span class="msg_time_send">9:10 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="~/backend/assets/img/faces/9.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                            </div>
                            <div class="d-flex justify-content-start">
                                <div class="img_cont_msg">
                                    <img src="~/backend/assets/img/faces/6.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                                <div class="msg_cotainer">
                                    Okay Bye, text you later..
                                    <span class="msg_time">9:12 AM, Today</span>
                                </div>
                            </div>
                        </div>
                        <!-- msg_card_body end -->
                        <!-- card-footer -->
                        <div class="card-footer">
                            <div class="msb-reply d-flex">
                                <div class="input-group">
                                    <input type="text" class="form-control " placeholder="Typing....">
                                    <div class="input-group-append ">
                                        <button type="button" class="btn btn-primary ">
                                            <i class="far fa-paper-plane" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div><!-- card-footer end -->
                    </div>
                </div>
            </div>
        </div>

        <!--Video Modal -->
        <div id="videomodal" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-dark border-0 text-white">
                    <div class="modal-body mx-auto text-center p-7">
                        <h5>Valex Video call</h5>
                        <img src="~/backend/assets/img/faces/6.jpg" class="rounded-circle user-img-circle h-8 w-8 mt-4 mb-3" alt="img">
                        <h4 class="mb-1 font-weight-semibold">Daneil Scott</h4>
                        <h6>Calling...</h6>
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-4">
                                    <a class="icon icon-shape rounded-circle mb-0 mr-3" href="#">
                                        <i class="fas fa-video-slash"></i>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="icon icon-shape rounded-circle text-white mb-0 mr-3" href="#" data-dismiss="modal" aria-label="Close">
                                        <i class="fas fa-phone bg-danger text-white"></i>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="icon icon-shape rounded-circle mb-0 mr-3" href="#">
                                        <i class="fas fa-microphone-slash"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><!-- modal-body -->
                </div>
            </div><!-- modal-dialog -->
        </div><!-- modal -->
        <!-- Audio Modal -->
        <div id="audiomodal" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content border-0">
                    <div class="modal-body mx-auto text-center p-7">
                        <h5>Valex Voice call</h5>
                        <img src="~/backend/assets/img/faces/6.jpg" class="rounded-circle user-img-circle h-8 w-8 mt-4 mb-3" alt="img">
                        <h4 class="mb-1  font-weight-semibold">Daneil Scott</h4>
                        <h6>Calling...</h6>
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-4">
                                    <a class="icon icon-shape rounded-circle mb-0 mr-3" href="#">
                                        <i class="fas fa-volume-up bg-light"></i>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="icon icon-shape rounded-circle text-white mb-0 mr-3" href="#" data-dismiss="modal" aria-label="Close">
                                        <i class="fas fa-phone text-white bg-success"></i>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="icon icon-shape  rounded-circle mb-0 mr-3" href="#">
                                        <i class="fas fa-microphone-slash bg-light"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><!-- modal-body -->
                </div>
            </div><!-- modal-dialog -->
        </div><!-- modal -->
        <!-- Footer opened -->
        <div class="main-footer ht-40">
            <div class="container-fluid pd-t-0-f ht-100p">
                <span>Copyright © 2020 <a href="#">Valex</a>. Designed by <a href="https://www.spruko.com/">Spruko</a> All rights reserved.</span>
            </div>
        </div>
        <!-- Footer closed -->

    </div>
    <!-- End Page -->
    <!-- Back-to-top -->
    <a href="#top" id="back-to-top"><i class="ti-angle-double-up"></i></a>

    <!-- JQuery min js -->
    <script src="~/backend/assets/plugins/jquery/jquery.min.js"></script>

    <!--Internal  Datepicker js -->
    <script src="~/backend/assets/plugins/jquery-ui/ui/widgets/datepicker.js"></script>

    <!-- Bootstrap Bundle js -->
    <script src="~/backend/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Ionicons js -->
    <script src="~/backend/assets/plugins/ionicons/ionicons.js"></script>

    <!-- Moment js -->
    <script src="~/backend/assets/plugins/moment/moment.js"></script>

    <!--Internal  jquery.maskedinput js -->
    <script src="~/backend/assets/plugins/jquery.maskedinput/jquery.maskedinput.js"></script>

    <!--Internal  spectrum-colorpicker js -->
    <script src="~/backend/assets/plugins/spectrum-colorpicker/spectrum.js"></script>

    <!-- Internal Select2.min js -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="~/backend/assets/plugins/select2/js/select2.min.js"></script>

    <!--Internal  Form-elements js-->
    <script src="~/backend/assets/js/advanced-form-elements.js"></script>

    <!--Internal Sumoselect js-->
    <script src="~/backend/assets/plugins/sumoselect/jquery.sumoselect.js"></script>

    <!--Internal Ion.rangeSlider.min js -->
    <script src="~/backend/assets/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>

    <!--Internal  jquery-simple-datetimepicker js -->
    <script src="~/backend/assets/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>

    <!-- Ionicons js -->
    <script src="~/backend/assets/plugins/jquery-simple-datetimepicker/jquery.simple-dtpicker.js"></script>

    <!--Internal  pickerjs js -->
    <script src="~/backend/assets/plugins/pickerjs/picker.min.js"></script>

    <!-- Rating js-->
    <script src="~/backend/assets/plugins/rating/jquery.rating-stars.js"></script>
    <script src="~/backend/assets/plugins/rating/jquery.barrating.js"></script>

    <!-- P-scroll js -->
    <script src="~/backend/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/backend/assets/plugins/perfect-scrollbar/p-scroll.js"></script>

    <!-- Custom Scroll bar Js-->
    <script src="~/backend/assets/plugins/mscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Sidebar js -->
    <script src="~/backend/assets/plugins/side-menu/sidemenu.js"></script>

    <!-- Right-sidebar js -->
    <script src="~/backend/assets/plugins/sidebar/sidebar.js"></script>
    <script src="~/backend/assets/plugins/sidebar/sidebar-custom.js"></script>

    <!-- eva-icons js -->
    <script src="~/backend/assets/js/eva-icons.min.js"></script>

    <!-- Sticky js -->
    <script src="~/backend/assets/js/sticky.js"></script>

    <!--Internal Fileuploads js-->
    <script src="~/backend/assets/plugins/fileuploads/js/fileupload.js"></script>
    <script src="~/backend/assets/plugins/fileuploads/js/file-upload.js"></script>

    <!-- custom js -->
    <script src="~/backend/assets/js/custom.js"></script>

    <!-- Internal Form-validation js -->
    <script src="~/backend/assets/js/form-validation.js"></script>

    <!-- Internal form-elements js -->
    <script src="~/backend/assets/js/form-elements.js"></script>
    <!--Internal  Parsley.min js -->
    <script src="~/backend/assets/plugins/parsleyjs/parsley.min.js"></script>
    <!-- Model -->
    <script src="~/backend/assets/js/modal.js"></script>
    <!-- Begin: Moment Date Time -->
    @await Component.InvokeAsync("MomentDateTimeJsLibrary")
    <!-- End: -->
    <!-- Begin: Grid -->
    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script>
        document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
    </script>
    <!-- End: -->
    <!-- Shafi: SignalR -->
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/Hubs-Signalr/ClientDashboard/NotificationUserDashboard.js"></script>
    <script src="~/js/notify.js"></script>
    <!-- End: -->
    <!-- Shafi: SignalR Script for Top Menu Notifications -->
    @if (allUnreadNotificationCount == 0)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $("#notificationPulse").hide();
                $("#markAsUnreadHideUnhide").hide();
            });
        </script>
    }
    <!-- End: -->
    <!-- Shafi: Notification Manager -->
    <script type="text/javascript">

        // Shafi: Hide this button on page load
        $("#markAllAsUnreadBtn").hide();
        // End:

        $("#markAllAsReadBtn").click(function () {
            var listOfListingNotifictaionIds = $(".getListOfListingNotifictaionIds").map(function () {
                return $(this).val();
            }).get().join(', ');

            $.ajax({
                url: '/NotificationManager/MarkAllAsRead',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {
                    getListOfListingNotifictaionIds: listOfListingNotifictaionIds
                },
                success: function (data) {
                    // Shafi: Hide markAllAsReadBtn and show markAllAsUnreadBtn
                    $("#markAllAsReadBtn").fadeOut(500, function () {
                        $("#markAllAsUnreadBtn").show().fadeIn(300);
                    });
                    // End:

                    // Shafi: 
                    var test = document.querySelectorAll('img[data-notificationId]');

                    console.log(test);

                    var newListOfDataNotificationIds = [];

                    for (var i = 0; i < test.length; i++) {
                        var id = test[i];

                        newListOfDataNotificationIds.push(id.getAttribute('data-notificationId'));
                    };

                    alert(newListOfDataNotificationIds);

                    for (var i = 0; i < newListOfDataNotificationIds.length; i++) {
                        alert(newListOfDataNotificationIds[i]);
                    }


                    // Shafi: Get values of all imgNotificationAjax
                    //var newListOfDataNotificationIds = $(".imgNotificationAjax").map(function () {
                    //    return $(this).data('notificationId');
                    //}).get().join(', ');
                    // End:
                }
            });
        });

        function toggleFunction(notificationID) {
            /* End: */
            $.ajax({
                url: '/NotificationManager/MarkAsReadToggle',
                type: 'POST',
                dataType: 'json',
                data: {
                    notificationID: notificationID
                },
                success: function (data) {

                    var notifId = data.substring
                        (
                            data.lastIndexOf("{") + 1,
                            data.lastIndexOf("}")
                        );

                    var entityType = data.substring
                        (
                            data.lastIndexOf("(") + 1,
                            data.lastIndexOf(")")
                        );

                    var markAsRead = data.substring
                        (
                            data.lastIndexOf("[") + 1,
                            data.lastIndexOf("]")
                        );

                    var unreadNotificationCount = data.substring
                        (
                            data.lastIndexOf("(-") + 2,
                            data.lastIndexOf("-)")
                        );

                    var toggleButtonId = notifId + "-toggleButton";

                    if (entityType = "LISTING" && markAsRead == "True") {
                        $("#" + toggleButtonId + "").fadeOut(500, function () {
                            $("#" + toggleButtonId + "").hide();
                            $("#" + toggleButtonId + "").attr("src", "/icons-notification-green/switch.png").fadeIn(300);
                        });
                    };  

                    if (entityType = "LISTING" && markAsRead == "False") {
                        $("#" + toggleButtonId + "").fadeOut(500, function () {
                            $("#" + toggleButtonId + "").hide();
                            $("#" + toggleButtonId + "").attr("src", "/icons-notification-green/switch-gray.png").fadeIn(500);
                        });                        
                    };

                    $("#unreadNotificationCount").text(unreadNotificationCount);
                }
            });
        }
    </script>
    <!-- End:-->

    @RenderSection("Scripts", required: false)
</body>
</html>