@model IEnumerable<BOL.LISTING.Communication>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "Subscriptions";
    ViewData["BC-2"] = "Listings";
    ViewData["BC-3"] = ViewData["Title"];
    ViewData["BT-Text"] = "Add New Listing";
    ViewData["BT-Link"] = "/Subscriptions/Listings/Create";
    ViewData["BT-Text2"] = "Manage Listings";
    ViewData["BT-Link2"] = "/Subscriptions/Listings/Index";
}
<!-- End: -->
<!-- Begin: Create history -->
@await Component.InvokeAsync("UserHistory")
<!-- End: -->
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerGuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Whatsapp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TollFree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkypeID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ListingID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerGuid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IPAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Whatsapp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TollFree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SkypeID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CommunicationID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CommunicationID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CommunicationID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
