@model BOL.LISTING.Categories
@inject ICategory categoryRepo
@inject DAL.LISTING.ListingDbContext listingContext

@{
    ViewData["Title"] = "Edit Categories";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<!-- Begin: Create history -->
@await Component.InvokeAsync("UserHistory", "Visited create listing page.")
<!-- End: -->
<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "Subscriptions";
    ViewData["BC-2"] = "Categories";
    ViewData["BC-3"] = ViewData["Title"];
    ViewData["BT-Text"] = "View All Listings";
    ViewData["BT-Link"] = "/Subscriptions/Listings/Index";
    var listingId = listingContext.Categories.Where(i => i.CategoryID == Model.CategoryID).Select(i => i.ListingID).FirstOrDefault();
    ViewData["RecordID"] = listingId;
}
<!-- End: -->
<!-- Begin: Toggle class of menu based on active -->
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var $Active = $('[name = "@ViewData["BC-2"]"]');
            $Active.addClass("active");
            $Active.find('span').removeClass("badge badge-secondary badge-pill").addClass("badge badge-light badge-pill");
        });
    </script>
}
<!-- End: -->
<!-- Begin: Slit categories id by comma -->
@{
    var firstCat = await categoryRepo.FirstCategoryDetailsAsync(Model.FirstCategoryID);
    var secondCat = await categoryRepo.SecondCategoryDetailsAsync(Model.SecondCategoryID);
}
<!-- End: -->

<div class="col-lg-12">
    <div class="row">
        @await Component.InvokeAsync("EditListingSideMenu")
        <div class="col-lg-10">
            <h4>@ViewData["Title"]</h4>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <table id="TableThirdCategory" class="table table-bordered table-hover">
                                <tr>
                                    <td class="bg-black-1">First Category</td>
                                </tr>
                                <tr>
                                    <td>@firstCat.Name</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-3">
                            <table id="TableThirdCategory" class="table table-bordered table-hover">
                                <tr>
                                    <td class="bg-black-1">Second Category</td>
                                </tr>
                                <tr>
                                    <td>@secondCat.Name</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <table id="TableThirdCategory" class="table table-bordered table-hover">
                                <tr>
                                    <td class="bg-black-1">Third Categories</td>
                                </tr>
                                @{
                                    if (Model.ThirdCategories != null)
                                    {
                                        List<int> thirdCategories = Model.ThirdCategories.Split(",").Select(int.Parse).ToList();
                                        foreach (int cat in thirdCategories)
                                        {
                                            var thirdCat = await categoryRepo.ThirdCategoryDetailsAsync(cat);
                                            <tr>
                                                <td>@thirdCat.Name</td>
                                            </tr>
                                        }
                                    }
                                }
                            </table>
                        </div>
                        <div class="col-lg-3">
                            <table id="TableFourthCategory" class="table table-bordered table-hover">
                                <tr>
                                    <td class="bg-black-1">Fourth Categories</td>
                                </tr>
                                @if (Model.FourthCategories != null)
                                {
                                    List<int> fourthCategories = Model.FourthCategories.Split(",").Select(int.Parse).ToList();
                                    foreach (int cat in fourthCategories)
                                    {
                                        var fourthCat = await categoryRepo.FourthCategoriesDetailsAsync(cat);
                                        <tr>
                                            <td>@fourthCat.Name</td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                        <div class="col-lg-3">
                            <table id="TableFifthCategory" class="table table-bordered table-hover">
                                <tr>
                                    <td class="bg-black-1">Fifth Categories</td>
                                </tr>
                                @if (Model.FifthCategories != null)
                                {
                                    List<int> fifthCategories = Model.FifthCategories.Split(",").Select(int.Parse).ToList();
                                    foreach (int cat in fifthCategories)
                                    {
                                        var fifthCat = await categoryRepo.FifthCategoriesDetailsAsync(cat);
                                        <tr>
                                            <td>@fifthCat.Name</td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                        <div class="col-lg-3">
                            <table id="TableSixthCategory" class="table table-bordered table-hover">
                                <tr>
                                    <td class="bg-black-1">Sixth Categories</td>
                                </tr>
                                @if (Model.SixthCategories != null)
                                {
                                    List<int> sixthCategories = Model.SixthCategories.Split(",").Select(int.Parse).ToList();
                                    foreach (int cat in sixthCategories)
                                    {
                                        var sixthCat = await categoryRepo.SixthCategoriesDetailsAsync(cat);
                                        <tr>
                                            <td>@sixthCat.Name</td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <a asp-action="Edit" asp-route-id="@Model.CategoryID" class="btn btn-primary">Edit</a>
            </div>
        </div>
    </div>
</div>