@model BOL.LISTING.Specialisation
@inject DAL.LISTING.ListingDbContext listingContext

@{
    ViewData["Title"] = "Edit Specialisations";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<!-- Begin: Create history -->
@await Component.InvokeAsync("UserHistory", "Visited create listing page.")
<!-- End: -->
<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "Subscriptions";
    ViewData["BC-2"] = "Specialisation";
    ViewData["BC-3"] = ViewData["Title"];
    ViewData["BT-Text"] = "View All Listings";
    ViewData["BT-Link"] = "/Subscriptions/Listings/Index";
    // Shafi: Get Listing ID for Menu
    var listingId = listingContext.Specialisation.Where(i => i.SpecialisationID == Model.SpecialisationID).Select(i => i.ListingID).FirstOrDefault();
    ViewData["RecordID"] = listingId;
    // End:
}
<!-- End: -->
<!-- Begin: Toggle class of menu based on active -->
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var $Active = $('[name = "@ViewData["BC-2"]"]');
            $Active.addClass("active");
            $Active.find('span').removeClass("badge badge-secondary badge-pill").addClass("badge badge-light badge-pill");
        });
    </script>
}
<!-- End: -->

<div class="col-lg-12">
    <div class="row">
        @await Component.InvokeAsync("EditListingSideMenu")
        <div class="col-lg-10">
            <h4>@ViewData["Title"]</h4>
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Banks" disabled /> @Html.DisplayNameFor(model => model.Banks)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="AcceptTenderWork" disabled /> @Html.DisplayNameFor(model => model.AcceptTenderWork)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="BeautyParlors" disabled /> @Html.DisplayNameFor(model => model.BeautyParlors)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Bungalow" disabled /> @Html.DisplayNameFor(model => model.Bungalow)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="CallCenter" disabled /> @Html.DisplayNameFor(model => model.CallCenter)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Church" disabled /> @Html.DisplayNameFor(model => model.Church)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Company" disabled /> @Html.DisplayNameFor(model => model.Company)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="ComputerInstitute" disabled /> @Html.DisplayNameFor(model => model.ComputerInstitute)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Dispensary" disabled /> @Html.DisplayNameFor(model => model.Dispensary)
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="ExhibitionStall" disabled /> @Html.DisplayNameFor(model => model.ExhibitionStall)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Factory" disabled /> @Html.DisplayNameFor(model => model.Factory)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Farmhouse" disabled /> @Html.DisplayNameFor(model => model.Farmhouse)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Gurudwara" disabled /> @Html.DisplayNameFor(model => model.Gurudwara)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Gym" disabled /> @Html.DisplayNameFor(model => model.Gym)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="HealthClub" disabled /> @Html.DisplayNameFor(model => model.HealthClub)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Home" disabled /> @Html.DisplayNameFor(model => model.Home)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Hospital" disabled /> @Html.DisplayNameFor(model => model.Hospital)
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Hotel" disabled /> @Html.DisplayNameFor(model => model.Hotel)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Laboratory" disabled /> @Html.DisplayNameFor(model => model.Laboratory)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Mandir" disabled /> @Html.DisplayNameFor(model => model.Mandir)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Mosque" disabled /> @Html.DisplayNameFor(model => model.Mosque)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Office" disabled /> @Html.DisplayNameFor(model => model.Office)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Plazas" disabled /> @Html.DisplayNameFor(model => model.Plazas)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="ResidentialSociety" disabled /> @Html.DisplayNameFor(model => model.ResidentialSociety)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Resorts" disabled /> @Html.DisplayNameFor(model => model.Resorts)
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Restaurants" disabled /> @Html.DisplayNameFor(model => model.Restaurants)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Salons" disabled /> @Html.DisplayNameFor(model => model.Salons)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Shop" disabled /> @Html.DisplayNameFor(model => model.Shop)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="ShoppingMall" disabled /> @Html.DisplayNameFor(model => model.ShoppingMall)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Showroom" disabled /> @Html.DisplayNameFor(model => model.Showroom)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input specialisation" asp-for="Warehouse" disabled /> @Html.DisplayNameFor(model => model.Warehouse)
                        </label>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <a asp-action="Edit" asp-route-id="@Model.SpecialisationID" class="btn btn-primary">Edit</a>
            </div>
        </div>
    </div>
</div>